<div class="dialog-container">
  <h2>Terms of Service</h2>
  <div class="dialog-content">
    <h3>Welcome to Phabric!</h3>
    <p>By accessing or using our website, you agree to comply with and be bound by the following terms and conditions:</p>
    <h5>1. Use of Website</h5>
      <p>
        Your use of our website is subject to these Terms of Service and all applicable laws and regulations.
      </p>
    <h5>2. Privacy Policy</h5>
      <p>
        Please review our Privacy Policy, which governs how we collect, use, and protect your personal information.
      </p>
    <h5>3. Product Information</h5>
      <p>
        We strive to provide accurate and up-to-date information about our products, but we cannot guarantee that all
        information is error-free. Prices, availability, and descriptions are subject to change without notice.
      </p>
    <h5>4. Order Acceptance</h5>
      <p>
        By placing an order on our website, you agree to purchase the selected products at the specified price.
        We reserve the right to accept or reject any order for any reason.
      </p>
    <h5>5. Payment and Billing</h5>
      <p>
        Payment for orders must be made in full at the time of purchase. We accept various payment methods,
        and all transactions are processed securely.
      </p>
    <h5>6. Shipping and Delivery</h5>
      <p>
        We make every effort to ensure prompt delivery of your orders, but we cannot guarantee delivery times.
        Shipping costs and delivery options are provided during checkout.
      </p>
    <h5>7. Returns and Exchanges</h5>
      <p>
        We want you to be completely satisfied with your purchase.
        Please review our Return Policy for information on returns, exchanges, and refunds.
      </p>
    <h5>8. Intellectual Property</h5>
      <p>
        All content on our website, including text, images, and logos, is the property of Phabric
        and protected by copyright and other intellectual property laws.
      </p>
    <h5>9. Limitations and Liability</h5>
      <p>
        Phabric is not liable for any direct, indirect, incidental, or consequential damages arising from your
        use of our website or products.
      </p>
    <h5>10. Governing Law</h5>
      <p>
        These Terms of Service are governed by the laws of Hungary, and any disputes will be resolved in
        accordance with these laws.
      </p>
  </div>
  <div class="dialog-actions">
    <button mat-button (click)="closeTOS()">Close</button>
    <button mat-button (click)="closeTOS()">Accept</button>
  </div>
</div>

