

  <div id="navigation">
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()" class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Phabric</span>
      <mat-icon>checkroom</mat-icon>
      <div class="balance" *ngIf="currentUser">Balance: {{ currentUser.balance }}</div>
    </mat-toolbar>

    <mat-sidenav-container>
      <mat-sidenav #sidenav class="sidenav">
        <mat-nav-list>
          <a mat-list-item (click)="onPageClick()" routerLink="/home"><mat-icon>home</mat-icon></a>
          <a mat-list-item (click)="onPageClick()" routerLink="/lobby"><mat-icon>photo_library</mat-icon></a>
          <a mat-list-item (click)="onPageClick()" routerLink="/market"><mat-icon>storefront</mat-icon></a>
          <a mat-list-item (click)="onPageClick()" routerLink="/profile"><mat-icon>person</mat-icon></a>
          <a *ngIf="!(loggedInUser)" mat-list-item (click)="onPageClick()" routerLink="/login"><mat-icon>login</mat-icon></a>
        </mat-nav-list>
      </mat-sidenav>
      <router-outlet></router-outlet>
      <button mat-fab (click)="scrollTop()" class="back-to-top">
        <mat-icon>keyboard_arrow_up</mat-icon>
      </button>
    </mat-sidenav-container>
  </div>


